# Зависимости Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Airflow runtime данные (НЕ коммитить!)
logs/
dags/S3_connect.py
dags/LVV_my_first_dag copy.py
dags/LVV_connect_to_Postgres.py
dags/clickhouse_connect.py
dags/export_clients_daily_to_csv_dag.py
dags/load_clients_s3_clickhouse.py
config/
# или если используете AIRFLOW_PROJ_DIR=./airflow-data
airflow-data/

# Scripts
dags/Scripts/__pycache__/
dags/Scripts/smart_lab.py
dags/Scripts/test.py
dags/Scripts/upload_to_clickhouse_from_minio.py
dags/Scripts/1_bronze
dags/Scripts/2_silver
dags/Scripts/3_gold

# Docker
.dockerignore
Dockerfile.*

# IDE/редакторы
.vscode/
.idea/
*.swp
*.swo
*~
.*.swp
.DS_Store
Thumbs.db

# ОС файлы
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Локальные файлы и папки
.env
.env*
.env.local
.env.*.local
*.log
пометки_конспект.md  # ваши заметки
variables.json
command_list/

# MinIO локальные данные
minio/data/
minio/minio.license
minio/certs/
minio/minio.license:Zone.Identifier

# ClickHouse локальные данные
clickhouse/*.log
clickhouse/data/
clickhouse/config.d/

# Временные файлы
*.tmp
*.temp
command_list  # если это временный файл команд

# Generated файлы
*.csv
*.json
*.jsonl
*.parquet

.gitignore